body {background-color: #f9f9f9}    /*Стиль body*/
input{    /*Стиль поля ввода*/
        outline: none;    /*убираем обводку*/
        height: 25px;     /*высота 25 пикселей*/
        font-size: 25px;    /*размер символов 25 пикселей*/
        width: 35%;    /*ширина 35%*/
        border: 0px;    /*без границ*/
        background-color: none;    /*делаем поле прозрачным (цвет прозрачный)*/
        border-bottom: 2px solid black;
}
select {    /*Стиль body*/
    outline: none;
    border: 1px;
    font-size: 23px;
    -webkit-appearance: none;
    background-color: #ffffff00;
}
#output{    /*Стиль body*/
    text-align: center;
    width: 100%;
    height: 125px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    font-family: Candara;
    font-size: 40px;
}
#h1{    /*Стиль body*/
    text-align: center;
    border-radius: 10px;
    background-color: #8dd8dc;
    display: inline-block;
    width: 100%;
    font-family: Candara;
    font-size: 40px;
}
.pan {
    width: 425px;
    display: inline-block;
    height: 400px;
    text-align: left;
    font-family: Candara;
    font-size: 30px;
}
#ans {
        font-family: Consolas;
        text-align: center;
        font-size: 35px;
}
#send{
    height: 12%;
    width: 40%;
    font-size: 25px;
    font-family: Candara;
}
