        body {background-color: #FFEB3B}
        input{
                height: 25px; 
                font-size: 25px;
                width: 35%;
        }
        .pan {
            width: 425px;
            display: inline-block;
            height: 400px;
            
            text-align: left;
            font-family: Impact;
            font-size: 30px;
        }
    
        .p1 {
            text-align: left;
        }
        #sys1 {
            width: 45px;
        }
        #sys2 {
            width: 45px;
        }
        #ans {
                font-family: Impact;
                text-align: center;
                font-size: 35px;
        }
        #send{
            height: 12%;
            width: 40%;
            font-size: 25px;
            font-family: Impact;
        }
